{extends file="../insider_base.html"}

{block name="content"}

<div class="box">
    <div class="qynav">
       <dl>

            <dt>
                <a href="{$absroot}wap/company/view/id/{$data.id}.html"  title="公司首页"><img src="{$absroot}home/views/default/resource/images/qy_05.jpg"  /></a>
            </dt>

            <dd>
                <a href="{$absroot}wap/company/news/id/{$data.id}.html" >新闻</a>
            </dd>

            <dd>
                <a href="{$absroot}wap/company/product/id/{$data.id}.html" >产品</a>
            </dd>


            <dd style="margin-right:1%;"><a href="{$absroot}wap/feedback/show/menu_id/61.html"  target="_blank">求购</a></dd>

            <dt>
                <a href="http://p.qiao.baidu.com//im/index?siteid=9078050&ucid=20906742"  title="联系我们"><img src="{$absroot}home/views/default/resource/images/qy_08.jpg"  /></a>
            </dt>

        </dl>
    </div>






    <!--企业信息-->
    <div class="clear"></div>
    <div class="qyxx boder">
        <h3>公司信息</h3>
        <div class="qyxxcont">
            名 称：{$data.title}<br />
            属 性：兽药<br />
            电 话：400-678-0034<br />
            简 介：{$data.content}<br />
        </div>
    </div>
    <!--产品分类-->

    <div class="qycpcont boder">
        <h3>厂家新闻</h3>
		 {foreach $query_data[56] as $item}
            <dl class="clearfix">
                <dd>
                    <div class="title">
                        <a href="{$absroot}wap/organization/view/id/{$item.id}.html" class="more">
                            <p>{$item.title|strip_tags}</p>
                        </a>
                    </div>
                    <div class="des">{call trim_content html=$item.summary|nl2br|default:$item.content length=36} <a href="{$absroot}wap/organization/view/id/{$item.id}.html" class="more">+ 查看详情</a></div>
					
					<em>{$item.date}</em>
					</div>
                </dd>
            </dl>
            {/foreach}
    </div>
</div>
{/block}