{extends file="insider_base.html"} 


{block name="content"}
<div class="maincont">
    <div class="daoyubanner">
        <div class="daoyuleft float">
            <h3>导语</h3>
            <p>
            <p class="p0">
                初生乳猪黄白痢以及保育期仔猪腹泻一直是困扰广大养殖户的问题！造成<span>初生乳猪黄白痢以及保育期仔猪腹泻的病因往往是多样化的，而</span>面对这一问题，养殖户由于对疾病防控的了解有限，往往习惯性的采用简单的打针和饲喂抗生素来解决，最后错过最佳治疗期！
            </p>
            </p>


            <dl>

                <dt>
                    <a href="#"><img src="../../../public/uploads/zhuanjia_20141021003240_115.jpg"  width="50px" height="50px" /></a>
                </dt>

                <dd>

                    投稿专家：<a href="http://p.qiao.baidu.com//im/index?siteid=9078054&ucid=20906742" >兽医专家王老师</a><br />
                    <!--<dd class="dd0"><a href="#">关注微博</a><a href="#">加QQ好友</a></dd>-->


                <dd>
                    <div class="bdsharebuttonbox">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq"></a>
                        <a href="#" class="bds_renren" data-cmd="renren"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin"></a>
                    </div>
                    <script>
                        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                    </script>
                </dd>
                </dd>
            </dl>

        </div>

        <div class="daoyuright">
            <a href="http://p.qiao.baidu.com//im/index?siteid=9078054&ucid=20906742" >
                <img src="../../../public/uploads/jishu_20150726095158_651.jpg"  width="470" height="340" alt="乳猪黄白痢，仔猪腹泻" />
            </a>
        </div>


    </div>

    <div class="sanjiao"></div>

    <div class="clear"></div>

    <div class="topicBox">
        <div class="hd">
            <span class="colNum">1</span>
            <h2>小猪（乳猪/保育猪）顽固性腹泻的常见病因</h2>
        </div>
        <div class="bd">
            <div class="text">
                <p>
                <p>
                    <img src="../../../public/editor/attached/image/20160401/20160401172346_39728.jpg"  alt="" />
                </p>
                <p>
                    乳猪腹泻的常见病因：
                </p>
                <p>
                    1）母猪伪狂犬抗体不足，常见表现为乳猪初生三天开始腹泻，一周内乳猪大量腹泻，并且母猪会有开始回奶的迹象！
                </p>
                <p>
                    2）母猪乳奶质过热：也就是母猪奶质不好，奶水里含有一些炎症和毒素。一般表现为乳猪7天以后开始腹泻，无大量死亡现象，但是乳猪生长发育迟缓，同样遭受隐性的巨大经济损失！
                </p>
                <p>
                    <br />
                </p>
                <p>
                    保育猪腹泻的常见病因：
                </p>
                <p>
                    保育猪腹泻最常发生于断奶前后，由于断奶和换料两大应激，造成机体免疫力下降，发生营养型腹泻！
                </p>
                <p>
                    <br />
                </p>
                <p>
                    以上3种情况就是小猪非细菌性腹泻的典型代表，往往这个时候如果大量使用抗生素是无效的，非常容易反复！
                </p>
                </p>
            </div>
        </div>


    </div>
    <div class="topicBox">
        <div class="hd">
            <span class="colNum">2</span> <h2>警惕！小猪（乳猪保育猪）腹泻的治疗误区</h2>
        </div>
        <div class="bd">
            <div class="text">
                <p>
                <p>
                    <img src="../../../public/editor/attached/image/20160401/20160401172404_63262.jpg"  alt="" />
                </p>
                <p>
                    小猪（乳猪保育猪）往往身体机能发育并不完善，过量的使用抗生素会很容易为接下来的饲养管理埋下疾病的隐患！
                </p>
                <p>
                    小猪腹泻的治疗应该针对病因进行用药。例如：乳猪的腹泻应该针对母猪进行用药；保育猪的腹泻应该以生理性的调节为主，药物控制为辅进行用药！
                </p>
                </p>
            </div>
        </div>


    </div>
    <div class="topicBox">
        <div class="hd">
            <span class="colNum">3</span> <h2>乳猪黄白痢，仔猪腹泻用什么药治疗效果好</h2>
        </div>
        <div class="bd">
            <div class="text">
                <p>
                <p>
                    <img src="../../../public/editor/attached/image/20160401/20160401172421_45192.jpg"  alt="" />
                </p>
                <p>
                    <a href="猪拉稀腹泻防治规范.htm"  target="_blank"></a>乳猪腹泻的治疗用药思路：
                </p>
                <p>
                    1）调理母猪奶质，疏通乳腺，促进母猪泌乳！母猪乳里面含有多种病毒抗体和杀菌物质，是乳猪黄白痢最好的保护伞！
                </p>
                <p>
                    2）同时，根据实际的症状发展情况，来判断是否需要抗菌药物抑制肠道细菌繁殖！
                </p>
                <p>
                    <br />
                </p>
                <p style="text-align:left;">
                    <span style="font-size:18px;">给大家分享一个案例，一个从母猪角度控制乳猪黄白痢的处方：</span>
                </p>
                <p style="text-align:left;">
                    <a href="../../../yao/inyao/id/85.htm"  target="_blank"><img src="../../../public/editor/attached/image/20160401/20160401171405_56549.jpg"  alt="" /></a><a href="http://webim.qiao.baidu.com/im/index?siteid=7004770&ucid=10633760"  target="_blank"></a><a href="http://webim.qiao.baidu.com/im/msg?siteid=9078054"  target="_blank"> <img src="../../../public/editor/attached/image/20160401/20160401171406_80472.jpg"  alt="" /></a>
                </p>
                </p>
            </div>
        </div>


    </div>




    <div class="jieyu0">
        <h2 class="jieyuTit">结语</h2>
        <div class="textBox" id="textBox"><p class="p0">
            <span style="color:#444444;font-family:微软雅黑;font-size:16px;line-height:26px;background-color:#FFFFFF;"><span>对于初生乳猪黄白痢治疗与治疗原则？</span></span>
        </p>
            <p class="p0">
                <span><span style="font-size:16px;line-height:26px;background-color:#FFFFFF;">对于哺乳期乳猪发生腹泻的治疗，调理母猪奶质才是核心的关键，很多养殖户一直把工作重心放在反复对于乳猪灌药打针上面，结果发现反反复复无法控制，就是因为没有抓住这个核心病源！</span></span>
            </p>
            <p class="p0">
                <span><span style="font-size:16px;line-height:26px;background-color:#FFFFFF;"><a href="../../../yao/inyao/id/98.htm"  target="_blank"><u><span style="color:#E53333;">（PS：益母生化散这味中药是一个很不错的调理奶质的选择，需要的朋友可以点击查看</span></u><u><span style="color:#E53333;">）</span></u></a></span></span>
            </p>
            <p class="p0">
                <span style="color:#444444;font-family:微软雅黑;font-size:16px;line-height:26px;background-color:#FFFFFF;">第一步调理奶质，第二步分析病源针对性的用药净化，只有这样才能最有效的控制乳猪腹泻！需要药物处方的养殖户朋友可以在线咨询或者留言给畜牧专家网猪病治疗组，我们会根据猪场情况给予用药处方以及应急方案！</span>
            </p>
            <p class="p0">
                <span style="color:#444444;font-family:微软雅黑;font-size:16px;line-height:26px;background-color:#FFFFFF;">畜牧专家网急诊</span><span style="color:#444444;font-family:微软雅黑;font-size:16px;line-height:26px;background-color:#FFFFFF;">电话：400-678-0034&nbsp;</span>
            </p></div>
    </div>
    <!-- <a href="http://p.qiao.baidu.com//im/index?siteid=7004770&ucid=10633760" style="margin:10px 90px";><img src="/home/views/default/resource/images/zixun.jpg" width="950" alt="专家在线咨询" /></a> -->
</div>
<div class="clear"></div>
<!--底部-->






<!--通用客服-->
<!--悬浮代码-->

<script type="text/javascript" src="../../../home/views/default/resource/js/jQuery.js" ></script>

<script type="text/javascript">

    $(function() {

        $(".kfleft").click(function(){

            var i=$("#haiiskefu").css("right");

            if (i=='0px'){

                $('#haiiskefu').animate({right:0}, 200);

            } else {

                $('#haiiskefu').animate({right:0}, 200);

            }

        });

    });

</script>

<div id="haiiskefu">

    <ul>

        <li><a rel="nofollow" href="http://p.qiao.baidu.com//im/index?siteid=9078050&ucid=20906742"  title="销售咨询" target="_blank"></a></li>

        <li><a rel="nofollow" href="http://p.qiao.baidu.com//im/index?siteid=9078050&ucid=20906742"  title="售后咨询" target="_blank"></a></li>

        <li><a href="http://p.qiao.baidu.com//im/index?siteid=9078050&ucid=20906742"  title="联系方式" target="_blank"></a></li>

    </ul>

</div>


<div style="background-color:#363636; height:auto; padding:10px 30px; text-align:center; font-size:2em">
    <a href="http://p.qiao.baidu.com//im/index?siteid=9078050&ucid=20906742"  target="_blank">
        您可以  <span style="color:#FFFF00;margin-right:500px"> 点击预约畜牧专家免费指导</span>
        <p style="margin-left:500px"> 坐诊时间：8:30-18:00，其他时间请留言</p>
    </a></div>


<div class="footer">
    <div class="footercont">

        <dl class="dl0">
            <dt><a href="../../../home/views/default/resource/images/aq_39.png"  target="_blank"><img src="../../../home/views/default/resource/images/aq_39.png"  width="110px" height="110px"/></a></dt>
            <dd>清新主播每周播报<br />
                全面的政策解读分析<br />
                每日猪价的行情分析<br />
                关注微信，精彩分享不容错过</dd>
        </dl>

        <dl>
            <dt>猪场养殖服务</dt>

            <dd><a href="../../../index/liebiao/id/15.htm"  target="_blank">疫情预警</a></dd>
            <dd><a href="../../../index/liebiao/id/13.htm"  target="_blank">猪价行情</a></dd>
            <dd><a href="../../../index/liebiao/id/14.htm"  target="_blank">政策解读</a></dd>
            <dd><a href="../../../index.htm"  target="_blank">猪病防治</a></dd>
            <dd><a href="../../../liuyan.htm"  target="_blank">在线兽医</a></dd>


        </dl>

        <dl>
            <dt>快捷服务中心</dt>

            <dd><a href="../../../bing.htm"  >猪病大全</a></dd>
            <dd><a href="../../../zhengzhuang.htm"  >猪病诊断</a></dd>
            <dd><a href="../../../company/chang.htm"  >兽药厂家</a></dd>
            <dd><a href="../../../company/qglist.htm"  >兽药求购</a></dd>


        </dl>

        <dl>
            <dt>交流与合作</dt>

            <dd><a href="#" >人才招聘吸纳</a></dd>
            <dd><a href="#" >GMP企业入驻</a></dd>
            <dd><a href="#" >执业兽医入驻</a></dd>
            <dd><a href="#" >商务合作洽谈</a></dd>


        </dl>

        <dl>
            <dt>2015热门关注专题<br />
            </dt>

            <dd><a href="../../../tg/aimuzhu.htm"  target="_blank">母猪饲养管理技术</a></dd>
            <dd><a href="../../../tg/chanhoubing.htm"  target="_blank">母猪的产后护理技术</a></dd>
            <dd><a href="../../../tg/bufaqing.htm"  target="_blank">母猪不发情/返情怎么办</a></dd>
            <dd><a href="47.htm"  target="_blank">仔猪流行性腹泻防治技术</a></dd>


        </dl>

        <div class="clear"></div>
        <div class="bottom" style="color:#fff;">
            <p><a href="http://www.miitbeian.gov.cn/"  target="_blank" style="color:#fff;" title=''>豫ICP备16000996号-2</a></p>
            <span><a href="#" target="_blank"> Copyright © 郑州牧一草堂电子商务有限公司（关于我们）</a></span>
        </div>
    </div>
</div>

<!-- 百度链接推送 -->
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = '../../../../zz.bdstatic.com/linksubmit/push.js'/*tpa=https://zz.bdstatic.com/linksubmit/push.js*/;
        }
        else {
            bp.src = '../../../../push.zhanzhang.baidu.com/push.js'/*tpa=http://push.zhanzhang.baidu.com/push.js*/;
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>


<!--百度统计-->
<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd2bd65da2d5aec61ea6b608dc9a77c35' type='text/javascript'%3E%3C/script%3E")) </script>
<script type="text/javascript"  src="../../../../idm-su.baidu.com/su.js" ></script>
{/block}