{extends file='../header_footer.html'}
{block name=content}
<div class="clear"></div>

<div class="box">
    <div class="conttop boder">
        <h1>当前位置 :<span class="blue"> 猪湿疹的综合防治</span></h1>
    </div>
    <div class="contlist boder">
        <ul class="font14">
            <li><a href="{url('wap/detailszz1/show', array_merge($args))}" class="hover">综合防治</a></li>
            <li><a href="{url('detailszz1/reason', array_merge($args))}">发病原因</a></li>
            <li><a href="{url('detailszz1/symptom', array_merge($args))}">症状诊断</a></li>
        </ul>
        <ul class="font14">
            <li><a href="{url('detailszz1/prevent', array_merge($args))}">预防净化</a></li>
            <li><a href="{url('detailszz1/treat', array_merge($args))}">紧急治疗</a></li>
            <li><a href="{url('detailszz1/drug', array_merge($args))}">相关用药</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="jibingcont margin10 boder">
        <h2 class="font16">猪湿疹的综合防治（制）</h2>
        <strong>猪湿疹综合防治：</strong><br /><a href="index.htm" tppabs="http://www.dongbao120.com/m/bing/inbing/id/31" target="_blank" title="猪湿疹的综合防治">【猪湿疹综述】猪湿疹是一种发生在表皮皮肤病症，有慢性和急性之分，表现为皮肤发红、结痂、瘙痒、鳞屑、皮肤溃烂、皮肤流脓等症状，没有明显种群发病区别，夏季，高温季节为高发期。猪湿疹会造成猪皮毛不洁，身体消瘦，也可能造成死亡。</a>
        <br /><br />
        <strong>猪湿疹发病原因：</strong><br /><a href="../zhubing31-yuanyin/index.htm" tppabs="http://www.dongbao120.com/m/bing/inbing_chuanbo/id/31" target="_blank" title="猪湿疹的发病原因">猪湿疹的发病原因有多种，猪舍卫生脏差，猪舍潮湿阴暗，猪皮肤脏污，或者是蚊虫的叮咬，化学等物质的刺激，患猪湿疹的病猪与健康猪的交叉感染，也可能是猪自身的慢性消化道疾病引起的新陈…</a>
        <br /><br />
        <strong>猪湿疹症状诊断：</strong><br /><a href="../zhubing31-zhenduan/index.htm" tppabs="http://www.dongbao120.com/m/bing/inbing_zhenduan/id/31" target="_blank" title="猪湿疹常见症状的诊断鉴别">猪湿疹的常见临床症状与解剖症状如下，猪湿疹的急性症状，猪发病突然，发病初期猪的颌下、会阴两侧和腹部皮肤发红，会出现球状的板结，并伴随有瘙痒的症状。猪湿疹病情进一步加重，患猪皮…</a>
        <br /><br />
        <strong>猪湿疹预防净化：</strong><br /><a href="../zhubing31-yufang/index.htm" tppabs="http://www.dongbao120.com/m/bing/inbing_yufang/id/31" target="_blank" title="猪湿疹的预防净化">猪湿疹的防治措施，猪湿疹的预防净化方案如下：1.饲养管理建议喂食富含维生素、矿物质的饲料，多种饲料进行有机的搭配，做到营养物质的多样化，健康的体制更易预防猪湿疹的发生。2.猪…</a>
        <br /><br />
        <strong>猪湿疹紧急治疗：</strong><br /><a href="../zhubing31-zhiliao/index.htm" tppabs="http://www.dongbao120.com/m/bing/inbing_zhiliao/id/31" target="_blank" title="猪湿疹的紧急治疗措施">猪湿疹的紧急治疗方案如下：1、猪湿疹急性型的治疗：静脉注射葡萄糖酸钙或氯化钙，兼服维生素C和A5000IU，如有需要可注射肾上腺素。如果患猪湿疹病猪出现丘疹潮红的症状，建议使…</a>
        <br /><br />
        <div class="clear"></div>
         <dl>
            <dd><span class="blue font14">专家建议</span><br />
                {$data.title}发病原因比较复杂，治疗时要针对具体的皮肤症状选择不同的用药方案，而且现在市场上的兽药质量良莠不齐，所以发生{$data.title}时，不要盲目用药，最好咨询专家，在专家建议下选择合适的药物进行治疗，可以取得很好的治疗效果。
            </dd>
        </dl>
        <div class="clear"></div>
        <dl>
            <dd><span class="blue font14">兽医专家王教授</span><br />
                <b>专家简介:</b>
                现任畜牧专家网畜牧科技技术支持部门主任。多年服务于规模化养殖场，猪类饲养管理经验丰富，对于中药综合调理动物健康有极深的研究。
                <a href="javascript:if(confirm('http://p.qiao.baidu.com/cps/chat?siteId=5682972&userId=7664040  \n\nكτݾϞרԃ Teleport Ultra Ђ՘, ӲΪ ̼ˇһٶԲܲ·޶΢ҿѻʨ׃Ϊ̼քǴʼַ֘քַ֘c  \n\nţЫ՚ؾϱǷʏղߪ̼?'))window.location='http://p.qiao.baidu.com/cps/chat?siteId=5682972&userId=7664040'" tppabs="http://p.qiao.baidu.com/cps/chat?siteId=5682972&userId=7664040" rel="nofollow" class="blue" target="_blank" style="display:block;width:100%;height:28px;line-height:28px;border:1px solid #ccc;text-align:center;margin-top:10px;background:#e9b11b;color:#fff;">
                    点击预约专家电话回访
                </a>
            </dd>
        </dl>
    </div>
    <div class="knowledge boder">
        <h3 class="blue font16">【猪湿疹】的相关用药</h3>
        <div class="relative">
            <dl class="dl0">
                <dt class="font14 blue">相关药品：</dt>
                <a href="../shouyao-34.html" tppabs="http://www.dongbao120.com/m/yao/inyao/id/34" title="猪用烟熏消毒散" target="_blank">烟熏消毒散</a>
                <a href="../shouyao-47.html" tppabs="http://www.dongbao120.com/m/yao/inyao/id/47" title="猪用盐酸多西环素（混感附弓康）       " target="_blank">盐酸多西环素（混感附弓康）       </a>
                <a href="../shouyao-55.html" tppabs="http://www.dongbao120.com/m/yao/inyao/id/55" title="猪用 苯扎溴铵+威露士" target="_blank"> 苯扎溴铵+威露士</a>
                <a href="../shouyao-57.html" tppabs="http://www.dongbao120.com/m/yao/inyao/id/57" title="猪用扶正解毒散（排毒增免散）" target="_blank">扶正解毒散（排毒增免散）</a>
                <a href="../shouyao-78.html" tppabs="http://www.dongbao120.com/m/yao/inyao/id/78" title="猪用保舍卫士" target="_blank">保舍卫士</a>
                <a href="../shouyao-83.html" tppabs="http://www.dongbao120.com/m/yao/inyao/id/83" title="猪用金盾" target="_blank">金盾</a>
            </dl>
            <dl>
                <div class="clear"></div>
                <dt class="orange font14"><span class="blue">推荐</span>处方：</dt>
            </dl>
        </div>
        <div class="clear"></div>
        <div class="pccont">
            <span>在专家建议下选择合适的药物进行治疗，可以取得很好的治疗效果</span><br />
            <dl>
                <dt class="boder float">
                    <a href="../shouyao-35.html" tppabs="http://www.dongbao120.com/m/yao/inyao/id/35" target="_blank">
                        <img src="../../public/uploads/20170329145401_428.jpg" tppabs="http://www.dongbao120.com/public/uploads/20170329145401_428.jpg" width="155" height="155" />
                    </a>
                </dt>
                <dd> <strong class="font16">注射用头孢噻呋钠 （全能头孢）</strong> <strong><span class="font14">【肌肉注射 】</span></strong> </dd>
                <dd> <strong>CMP/证书编号：【兽药字（2013）270345197】</strong> </dd>
                <dd> 有效成分：水剂、粉针&nbsp; </dd>
                <dd> 产品功效：【抗菌消炎】 </dd>
                <dd> 敏感疾病：适用于【猪附红细胞体病】【猪弓形体病】【猪传染性胃肠炎】【仔猪水肿病】【猪丹毒】【猪痢疾 】【小仔猪传染性胃肠炎】【母猪传染性胃肠炎】【育肥猪传染性胃肠炎】【猪肺疫 】【猪子宫内膜炎】【母猪乳房炎】【猪高热病】【小仔猪高热病】【母猪高热病】【育肥猪高热病】等</dd>
            </dl>
        </div>
    </div>
    <div id="Tab1" class="margin10 boder">
        <div class="Menubox">
            <ul>
                <li class="hover"> 技术资料</li>
            </ul>
        </div>
        <div class="Contentbox">
            <div id="con_two_1" class="hover">
                <div class="answer">
                    <dl style="padding:1% 0 1%">
                        <dd class="font14"><a href="../jishu95/index.htm" tppabs="http://www.dongbao120.com/m/jishu/nei/id/95" style="color:3579a6;"> 钩端螺旋体 猪钩端螺旋体病 </a></dd>
                        <dd>专家兽医专家刘教授<strong> 发布</strong></dd>
                    </dl>
                    <a href="../jishu95/index.htm" tppabs="http://www.dongbao120.com/m/jishu/nei/id/95"> 猪钩端螺旋体病是钩端螺旋体引起的一种人畜共患的传染病，又称钩体病。发病后主要表现为发热、尿血、黄疸、皮下水肿、母猪流产、皮肤和黏膜坏死等。本病发病率很低，多呈隐性传染，长江以南地区发生较多。<br /></a>
                    <div class="clear"></div>
                    <dl style="padding:1% 0 1%">
                        <dd class="font14"><a href="../jishu87/index.htm" tppabs="http://www.dongbao120.com/m/jishu/nei/id/87" style="color:3579a6;"> 猪肺疫的临床症状，猪肺疫的治疗方法 </a></dd>
                        <dd>专家兽医专家刘教授<strong> 发布</strong></dd>
                    </dl>
                    <a href="../jishu87/index.htm" tppabs="http://www.dongbao120.com/m/jishu/nei/id/87"> 猪肺疫俗称肿脖子病，是由多杀性巴氏杆菌引起的一种急性、败血性传染病，常以败血及组织器官出血性炎症为主要特征，造成大批猪只死亡。猪肺疫一年四季均可发生，常发生与闷热、潮湿、冷热交替、多雨的季节。猪群中发现猪肺疫时往往查不出传染源，病毒发生内源性传染，也可通过消化道、呼吸道、损伤的皮肤及粘膜感染。<br /></a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}